/*párrafo blog*/
.contenedor_A {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
  background-color: $tercercolor;

  .blog {
    background-color: rgb(115, 121, 204);
    width: 400px;
    height: 400px;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    margin-top: 20px;
    
    padding: 40px;
    text-align: justify;
    background-image: url("./../img/blog.jpeg");
    background-size: cover;
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-position-y: 90%;
    border-radius: 20%;
    display: inline-block;
  }
}