body {
  background-color: $secundarycolor;

  .historia {
    background-color: $secundarycolor;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: larger;
    font-weight: 800;
    color: $tercercolor;
    padding-bottom: 20px;
  }
}