body {
  background-color: rgb(106, 46, 53);
  
  
  

  .historia {
    color: rgb(190, 138, 96);
    font-family: "PT Sans Narrow", sans-serif;
    font-size: larger;
    font-weight: 800;
    padding-bottom: 20px;
    background-color: transparent;
  }
}
