.modelos {
  display: flex;

  @include mobile {
    flex-direction: column;
  }
}

.modelos_drones {
  background-color: rgb(115, 121, 204);
  width: 400px;
  height: 450px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  margin-top: 50px;
  margin-left: 50px;
  padding: 40px;
  text-align: justify;
  background-image: url("./../img/drones_inicio.jpeg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50%;
  background-position-y: 80%;
  border-radius: 20%;
  display: inline-block;
}

.modelos_drones1 {
  background-color: rgb(115, 121, 204);
  width: 400px;
  height: 450px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  margin-top: 50px;
  margin-left: 20px;
  padding: 40px;
  text-align: justify;
  background-image: url("./../img/drones_inicio1.jpeg");
  display: inline-block;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50%;
  background-position-y: 90%;
  border-radius: 20%;
}

.modelos_drones2 {
  background-color: rgb(115, 121, 204);
  width: 400px;
  height: 450px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  margin-top: 50px;
  margin-left: 20px;
  padding: 40px;
  text-align: justify;
  background-image: url("./../img/drones_inicio2.jpeg");
  display: inline-block;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50%;
  background-position-y: 80%;
  border-radius: 20%;
}

.hh3 {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}