/*footer*/

.contenedor {
    display: flex;
    justify-content: space-between;
    background-color: $principalcolor;
   
    
    .contenedorA,
    .contenedorB,
    .contenedorC {
        display: flex;
        color: $primeraletra;
        font-family: "PT Sans Narrow", sans-serif;
        font-weight: 700;
    }
}

li {
    list-style-type: none;
}

.Cuenta,
.Información,
.Contáctenos {
    color: $segundaletra;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: larger;
}

ol {
    margin-left: -1rem;
    margin-right: 1rem;
}


/*redes sociales*/
.redes_sociales {
    display: flex;
    justify-content: center;
    background-color: $principalcolor;
    margin-top: -1rem;
   

}

.wp,
.facebook,
.instagram {
    display: flex;
    display: inline;
    margin: 0;
    padding: 0;     
}
