/*header*/
header {
    background-color: $principalcolor;
    position: sticky;
    gap: 20px;

    .grid_1 {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "caja_1 caja_2";

        .caja_1 {
            grid-area: caja_1;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            padding: 1rem;

            /*logo*/
            .logo {
                width: 7rem;
                height: 7rem;
                border-radius: 100%;
                padding: 0;
            }

            /*titulo*/
            h1 {
                font-family: 'PT Sans Narrow', sans-serif;
                color: $primeraletra;
                font-weight: 400;
                font-size: 2.5rem;
                margin-bottom: 0;
                display: flex;
            }

            .titulo_ppal {
                text-decoration: none;
                color: inherit;
            }

            @include mobile {
                flex-direction: column;
            }
        }

        .caja_2 {
            grid-area: caja_2;
            display: flex;
            flex-direction: row;
            align-items: end;
            justify-content: end;

            /*letras del menu*/
            .menu {
                display: flex;
                justify-content: end;
                list-style-type: none;
                font-family: 'PT Sans Narrow', sans-serif;
                font-size: x-large;
                font-weight: 500;
                flex-wrap: wrap; 
                gap: 1rem;
                margin-right: 10px;

                @include mobile {
                    flex-direction: column;
                }
            }

            .menu li {
                display: flex;
                display: inline;
                list-style-type: none;
                margin-bottom: 0;
               
            }

            .menu_item a {
                color: $primeraletra;
                text-decoration: none;
            }

            .menu_item.active a {

                text-decoration: double;
            }

            .menu_item:hover {
                text-decoration: underline double;
            }
        }
    }
}