/*párrafo servicios*/
.tarjetas {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include mobile {
    flex-direction: column;
  }

}

.tarjeta1 :hover,
.tarjeta2 :hover,
.tarjeta3 :hover,
.tarjeta4 :hover {
  display: flex;
  align-items: center;
  width: 100%;
  transition: all 3s;

}

.titulo_1,
.titulo_2,
.titulo_3,
.titulo_4 {
  background-color: #48b148;
  display: flex;
  justify-content: center;
  padding: 2rem;
  width: 200px;
  color: rgb(153, 7, 26);
  font-family: "PT Sans Narrow", sans-serif;
  font-size: larger;
  font-weight: 800;
  margin-top: 10px;

}

.parrafo_1,
.parrafo_2,
.parrafo_3,
.parrafo_4 {
  margin-left: 10px;
  margin-top: 15px;
}