
.tarjetas {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;


  @include mobile {
    flex-direction: column;
  }

}

.tarjeta1 :hover,
.tarjeta2 :hover,
.tarjeta3 :hover,
.tarjeta4 :hover {
  display: flex;
  align-items: center;
  width: 100%;
  transition: all 3s;

}

.titulo_1,
.titulo_2,
.titulo_3,
.titulo_4 {
  background-color: rgb(0, 78, 100);
  display: flex;
  justify-content: center;
  padding: 2rem;
  width: 200px;
  color: rgb(190, 138, 96);
  font-family: "PT Sans Narrow", sans-serif;
  font-size: larger;
  font-weight: 800;
  margin-top: 10px;
  border-radius: 10%;

}

.parrafo_1,
.parrafo_2,
.parrafo_3,
.parrafo_4 {
  color: rgb(182, 208, 148);
  margin-left: 10px;
  margin-top: 15px;
}

.mb-3, .btn {
  margin-left: 20px;
  margin-right: 50%;
  color: rgb(182, 208, 148);

}