/*grid tienda*/
.grid {

    background-color: aqua;
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "caja1 caja1 caja2 caja3"
        "caja1 caja1 caja4 caja5";

    .caja1 {
        background: $tercercolor;
        grid-area: caja1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 1rem;
        background-image: url("./../img/tienda1.jpg");
        background-size: 100 vh;
        background-repeat: no-repeat;
        padding: 10px;
        background-position: 50%;
        background-position-y: 60%;
    }



    .caja2 {
        background: rgb(221, 63, 142);
        grid-area: caja2;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 1rem;
        background-image: url("./../img/remera.jpeg");
        background-size: 100 vh;
        background-position: 50%;
        background-position-y: 60%;
        padding: 10px;
        background-repeat: no-repeat;
    }

    .caja3 {
        background: $secundarycolor;
        grid-area: caja3;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 1rem;
        background-image: url("./../img/chombas.jpeg");
        background-size: 100 vh;
        background-position: 50%;
        background-position-y: 60%;
        padding: 10px;
        background-repeat: no-repeat;
    }

    .caja4 {
        background: rgb(146, 146, 168);
        grid-area: caja4;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 1rem;
        background-image: url("./../img/pantalonremera.jpeg");
        background-size: 100 vh;
        background-position: 50%;
        background-position-y: 60%;
        padding: 10px;
        background-repeat: no-repeat;
    }

    .caja5 {
        background: rgb(231, 77, 90);
        grid-area: caja5;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 1rem;
        background-image: url("./../img/zapatillas.jpeg");
        background-size: 100 vh;
        background-position: 50%;
        background-position-y: 60%;
        margin: 10 px;
        background-repeat: no-repeat;
    }

    @include tablet {
        flex-direction: column;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "caja1"
            "caja2"
            "caja3"
            "caja4"
            "caja5";

    }
}

.caja1,
.caja2,
.caja3,
.caja4,
.caja5 {
    color: rgb(153, 7, 26);
    font-family: "PT Sans Narrow", sans-serif;
    font-size: larger;
    font-weight: 800;
}