@charset "UTF-8";
/*iportación de tipo de letra, siempre arriba*/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");

$principalcolor: blue;
$secundarycolor: pink;
$tercercolor: rgb(116, 116, 23);
