@charset "UTF-8";
/*iportación de tipo de letra, siempre arriba*/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");

$principalcolor: rgb(0, 78, 100);
$secundarycolor: rgb(106, 46, 53);
$tercercolor: rgb(190, 138, 96);
$cuartocolor: rgb(225, 170, 125);
$quintocolor: rgb(182, 208, 148);
$primeraletra: rgb(29, 3, 3);
$segundaletra: rgb(153, 7, 26);
