@charset "UTF-8";
/*iportación de tipo de letra, siempre arriba*/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
/*reseteo del proyecto*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*header*/
header {
  background-color: rgb(0, 78, 100);
  position: sticky;
  gap: 20px;
}
header .grid_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "caja_1 caja_2";
}
header .grid_1 .caja_1 {
  grid-area: caja_1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  /*logo*/
  /*titulo*/
}
header .grid_1 .caja_1 .logo {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  padding: 1rem;
}
header .grid_1 .caja_1 h1 {
  font-family: "PT Sans Narrow", sans-serif;
  color: rgb(29, 3, 3);
  font-weight: 400;
  font-size: xx-large;
  margin-bottom: 0;
}
header .grid_1 .caja_2 {
  grid-area: caja_2;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
  gap: 1rem;
  /*letras del menu*/
}
header .grid_1 .caja_2 .menu {
  display: flex;
  justify-content: end;
  list-style-type: none;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: x-large;
  font-weight: 500;
  flex-wrap: wrap;
}
@media screen and (max-width: 576px) {
  header .grid_1 .caja_2 .menu {
    flex-direction: column;
  }
}
header .grid_1 .caja_2 .menu li {
  display: flex;
  display: inline;
  list-style-type: none;
  margin: 2px;
  padding: 10px;
}
header .grid_1 .caja_2 .menu_item a {
  color: rgb(29, 3, 3);
  text-decoration: none;
}
header .grid_1 .caja_2 .menu_item.active a {
  -webkit-text-decoration: double;
          text-decoration: double;
}
header .grid_1 .caja_2 .menu_item:hover {
  -webkit-text-decoration: underline double;
          text-decoration: underline double;
}

/*linea separadora*/
.linea {
  margin-right: 0px;
  margin: 0%;
}

body {
  background-color: rgb(106, 46, 53);
}
body .historia {
  color: rgb(190, 138, 96);
  font-family: "PT Sans Narrow", sans-serif;
  font-size: larger;
  font-weight: 800;
  padding-bottom: 20px;
  background-color: transparent;
}

.modelos {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
@media screen and (max-width: 1122px) {
  .modelos {
    flex-direction: column;
  }
}

.modelos_drones {
  background-color: rgb(225, 170, 125);
  width: 400px;
  height: 450px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  margin-top: 50px;
  padding: 40px;
  text-align: justify;
  background-image: url("./../img/drones_inicio.jpeg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50%;
  background-position-y: 80%;
  border-radius: 20%;
  display: inline-block;
}

.modelos_drones1 {
  background-color: rgb(225, 170, 125);
  width: 400px;
  height: 450px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  margin-top: 50px;
  padding: 40px;
  text-align: justify;
  background-image: url("./../img/drones_inicio1.jpeg");
  display: inline-block;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50%;
  background-position-y: 90%;
  border-radius: 20%;
}

.modelos_drones2 {
  background-color: rgb(225, 170, 125);
  width: 400px;
  height: 450px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  margin-top: 50px;
  padding: 40px;
  text-align: justify;
  background-image: url("./../img/drones_inicio2.jpeg");
  display: inline-block;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50%;
  background-position-y: 80%;
  border-radius: 20%;
}

h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

/*grid tienda*/
.grid {
  background-color: aqua;
  width: 100%;
  height: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "caja1 caja1 caja2 caja3" "caja1 caja1 caja4 caja5";
}
.grid .caja1 {
  background: rgb(190, 138, 96);
  grid-area: caja1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  background-image: url("./../img/tienda1.jpg");
  background-size: 100 vh;
  background-repeat: no-repeat;
  padding: 10px;
  background-position: 50%;
  background-position-y: 60%;
}
.grid .caja2 {
  background: rgb(221, 63, 142);
  grid-area: caja2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  background-image: url("./../img/remera.jpeg");
  background-size: 100 vh;
  background-position: 50%;
  background-position-y: 60%;
  padding: 10px;
  background-repeat: no-repeat;
}
.grid .caja3 {
  background: rgb(106, 46, 53);
  grid-area: caja3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  background-image: url("./../img/chombas.jpeg");
  background-size: 100 vh;
  background-position: 50%;
  background-position-y: 60%;
  padding: 10px;
  background-repeat: no-repeat;
}
.grid .caja4 {
  background: rgb(146, 146, 168);
  grid-area: caja4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  background-image: url("./../img/pantalonremera.jpeg");
  background-size: 100 vh;
  background-position: 50%;
  background-position-y: 60%;
  padding: 10px;
  background-repeat: no-repeat;
}
.grid .caja5 {
  background: rgb(231, 77, 90);
  grid-area: caja5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  background-image: url("./../img/zapatillas.jpeg");
  background-size: 100 vh;
  background-position: 50%;
  background-position-y: 60%;
  margin: 10 px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .grid {
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "caja1" "caja2" "caja3" "caja4" "caja5";
  }
}

.caja1,
.caja2,
.caja3,
.caja4,
.caja5 {
  color: rgb(153, 7, 26);
  font-family: "PT Sans Narrow", sans-serif;
  font-size: larger;
  font-weight: 800;
}

.contenedor_1 {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
  background-color: rgb(190, 138, 96);
  /*carousel*/
  /*párrafo nosotros*/
}
.contenedor_1 .nosotros {
  background-color: rgb(115, 121, 204);
  width: 400px;
  height: 350px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  margin-top: 50px;
  padding: 40px;
  text-align: justify;
  background-image: url("./../img/donde estamos.jpeg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50%;
  background-position-y: 80%;
  border-radius: 20%;
  display: inline-block;
}

/*párrafo historia*/
.historia {
  background-color: rgb(190, 138, 96);
  max-width: none;
  height: 400px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  padding: 20px;
  text-align: justify;
  margin-bottom: 20px;
}

.tarjetas {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (max-width: 576px) {
  .tarjetas {
    flex-direction: column;
  }
}

.tarjeta1 :hover,
.tarjeta2 :hover,
.tarjeta3 :hover,
.tarjeta4 :hover {
  display: flex;
  align-items: center;
  width: 100%;
  transition: all 3s;
}

.titulo_1,
.titulo_2,
.titulo_3,
.titulo_4 {
  background-color: rgb(0, 78, 100);
  display: flex;
  justify-content: center;
  padding: 2rem;
  width: 200px;
  color: rgb(190, 138, 96);
  font-family: "PT Sans Narrow", sans-serif;
  font-size: larger;
  font-weight: 800;
  margin-top: 10px;
}

.parrafo_1,
.parrafo_2,
.parrafo_3,
.parrafo_4 {
  color: rgb(182, 208, 148);
  margin-left: 10px;
  margin-top: 15px;
}

.mb-3, .btn {
  margin-left: 20px;
  margin-right: 50%;
  color: rgb(182, 208, 148);
}

/*párrafo blog*/
.contenedor_A {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
}
.contenedor_A .blog {
  width: 400px;
  height: 400px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  margin-top: 20px;
  padding: 40px;
  text-align: justify;
  background-image: url("./../img/blog.jpeg");
  background-size: cover;
  background-size: 200px 200px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-position-y: 90%;
  border-radius: 20%;
  display: inline-block;
}

/*footer*/
.contenedor {
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 78, 100);
}
.contenedor .contenedorA,
.contenedor .contenedorB,
.contenedor .contenedorC {
  display: flex;
  color: rgb(29, 3, 3);
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
}

li {
  list-style-type: none;
}

.Cuenta,
.Información,
.Contáctenos {
  color: rgb(153, 7, 26);
  font-family: "PT Sans Narrow", sans-serif;
  font-size: larger;
}

ol {
  margin-left: -1rem;
  margin-right: 1rem;
}

/*redes sociales*/
.redes_sociales {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 78, 100);
  margin-top: -1rem;
}

.wp,
.facebook,
.instagram {
  display: flex;
  display: inline;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=estilo.css.map */